<%- include('../partials/head') %>
<%- include('../partials/header', {content :`${header}`})-%>
<div class="block lg:flex gap-4 justify-start items-start container lg:m-auto mx-6 sm:mx-8 md:mx-16 w-auto">
    <aside class="lg:sticky top-0 mr-0 lg:mr-8">
        <div class="pt-4 lg:pt-16 h-screen overflow-auto">
            <h1 class="sr-only"><%= navigation.sidebar.texts.menu %></h1>
                <nav class="text-xs lg:px-5">
                    <h2 class="font-bold"><%= navigation.sidebar.texts.topics %></h2>
                    <ul class="js-section-links">
                    <% for(var i=0; i < navigation.sidebar.topics.length; i++) { %>
                        <li class="flex flex-wrap w-full items-center">
                           <a class="py-1 transition-all duration-300 block hover:text-teal-700" href="<%- config.base %><%= navigation.sidebar.topics[i].link %>"><%= navigation.sidebar.topics[i].name %></a>
                                <% if(navigation.sidebar.topics[i].children){ %>
                                <button class="w-2 h-2 ml-2" aria-expanded="false">
                                    <span class="sr-only"><%= navigation.sidebar.topics[i].name %> <%= navigation.sidebar.texts.submenu %></span>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"></path></svg>
                                </button>
                                <ul class="max-h-0 overflow-hidden w-full transition-all duration-300" aria-hidden="true">
                                    <% for(var j=0; j < navigation.sidebar.topics[i].children.length; j++) { %>
                                        <li>
                                            <a class="py-1 px-4 transition-all duration-300 block" href="<%- config.base %><%= navigation.sidebar.topics[i].children[j].link %>"><%= navigation.sidebar.topics[i].children[j].name %></a>
                                        </li>
                                    <% } %>
                                </ul>
                                <% } %>
                       </li>
                    <% } %>
                    </ul>
                    <h2 class="font-bold pt-6"><%= navigation.sidebar.texts.links %></h2>
                    <ul>
                        <% for(var i=0; i < navigation.sidebar.links.length; i++) { %>
                            <li>
                                <a class="py-1 transition-all duration-300 block hover:text-teal-700" href="<%= navigation.sidebar.links[i].link %>"><%= navigation.sidebar.links[i].name %></a>
                            </li>
                        <% } %>
                    </ul>
                    <h2 class="font-bold pt-6"><%= navigation.sidebar.texts.languages %></h2>
                    <ul>
                        <% for(var i=0; i < navigation.sidebar.languages.length; i++) { %>
                            <li>
                                <a class="py-1 transition-all duration-300 block hover:text-teal-700" href="<%= navigation.sidebar.languages[i].link %>"><%= navigation.sidebar.languages[i].name %></a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
        </div>
    </aside>
    <main class="lg:w-4/6 pt-16">
        <div class="text-lg">
        <%- content %>
        </div>

<%- include('../partials/footer')-%>

