<%- include ('../partials/head') %>
<div class="flex justify-end">
    <aside class="bg-teal-700 text-white fixed pt-6 top-0 bottom-0 left-0 min-h-screen overflow-auto hidden md:block md:w-2/6 max-w-1/4">
        <nav class="mb-12">
            <ul>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#tools-für-diesen-crash-kurs">Tools für diesen Crash Kurs</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#wieso-">Wieso ?!</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#für-wen">Für wen?</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#wen-betrifft-das">Wen betrifft das?</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#farben">Farben</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#html-elements">HTML Elements</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#text--schrift">Text / Schrift</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#schriftarten">Schriftarten</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#schriftgrössen">Schriftgrössen</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#schriftfarben">Schriftfarben</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#headings--überschriften">Headings / Überschriften</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#text--paragraph">Text / Paragraph</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#link">Link</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#boldstrong">Bold/Strong</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#italickursiv">Italic/Kursiv</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#text-styling--css-styles">Text Styling / CSS Styles</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#listen">Listen</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#orderd-list-ol">Orderd List</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#unorderd-list-ul">Unorderd List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#tabellen">Tabellen</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#bilder">Bilder</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#formulare">Formulare</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#inputs-and-labels">Inputs and Labels</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#fieldset-gruppen">Fieldset (Gruppen)</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#komplexerre-inputs--gruppen--formularabschnitte">Komplexerre Inputs / Gruppen & Formularabschnitte</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#aria-attribute-role-attribute-und-tabindex-attribut">Disabled</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#aria-attribute-role-attribute-und-tabindex-attribut">Aria-Attribute, Role-Attribute und Tabindex-Attribut</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#tabindex">Tabindex</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#css-einfluss">CSS Einfluss</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="<%- config.base %>/#screenreader">Screenreader</a>
                </li>
            </ul>
        </nav>
        <a href="<%- config.base %>/presentation/0" class="bg-teal-700 hover:bg-teal-900 fixed left-0 w-2/6 bottom-0 h-12 py-2 px-4 transition-all duration-300 border-t border-white">Presentation</a>
    </aside>
    <main class="flex min-h-screen flex-col md:w-4/6">
<div class="mx-8 w-auto md:mx-auto mt-20 text-lg lg:max-w-screen-md md:max-w-screen-sm">
<%- content %>
</div>
</div>
<%- include('../partials/footer')-%>
