<%- include('../partials/head')-%>
<main class="flex min-h-screen flex-col">
    <div class="container m-auto mt-20">

        <div class="mb-40 mx-auto max-w-screen-lg">
            <%- content %>
        </div>


</div>
<footer class="bg-teal-700 text-white fixed left-0 right-0 bottom-0 h-20 flex justify-center items-center">
    <div class="absolute left-0 right-0 bottom-0 h-20 flex justify-between items-center text-white">
        <a href="<%- config.base %>/presentation/<%- prev %>" class="p-6">Prev</a>
        <a href="<%- config.base %>/presentation/<%- next %>" class="p-6">Next</a>
    </div>
    <p class="text-center">
        <small>
            Accessibility / Barrierefreiheit
        </small>
    </p>
</footer>
<script>
    document.addEventListener('keydown', function (event) {

        if (event.ctrlKey && event.key === 'ArrowRight') {
            window.location.href="/presentation/<%- next %>";
        }

        if (event.ctrlKey && event.key === 'ArrowLeft') {
            window.location.href="/presentation/<%- prev %>";
        }
    });
</script>
</main>
</body>
</html>


		
